/* === GERAL ===============================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*Essa propriedade nos permite que a caixa seja contada a partir da borda*/
}

:root {
  --hue: 170;
  --primary-color: hsl(var(--hue), 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);

  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --brand-hover: hsl(var(--hue), 100%, 14%);

  --bg-light: hsl(180, 14%, 97%);

  font-size: 62.5%; /* 1rem = 10px por causa dessa propriedade */

  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}
html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem; /* seria equivalente a 16px do navegador por padrão incluindo a regra do 62.5%*/
  text-align: center;

  overflow: overlay;

  background-color: var(--bg-light);
}
.embrulhar {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

section {
  padding-block: 10rem;
}

section header h4 {
  font-size: 1.4rem; /*1.4 rem = 14px*/
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--primary-color);

  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--headline);
}

section header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 2.4rem;
}

section .content p {
  color: var(--paragraph);

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

}

.button {
  background-color: var(--primary-color);

  border: none;
  border-radius: 4rem;

  margin-bottom: 6rem;

  padding: 1.6rem 3.2rem;
  width: fit-content; /*Faz com que a caixa se adapte ao conteúdo*/

  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex; /*flex mexe com os filhos (que estão dentro da caixa, elas perdem a posição que se encontravam, mas deixando flexíveis) */
  align-items: center; /* com o display flex podemos usar o esse comando para centralizar o alinhamento perfeitamente como deve ser*/
  justify-content: center; /*E aqui usamos para centralizar de fato todo o conteúdo filho para o meio da caixa*/
  gap: 1.6rem; /*Faz a separação dos elementos permitindo um espaço entre os elemtentos*/

  text-decoration: none;

  transition: background 400ms;
}

.button:hover {
  background-color: var(--brand-hover);
  transition-duration: 0.7s;

}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

/* === custom colors ===============================================*/

#services .card circle {
  fill: var(--brand-light);
}

#navigation .logo path[fill*="#00856F"],
#backToTopButton circle {
  fill: var(--primary-color);
}

button.open-menu path[stroke*="#00856F"],
#contact li path {
  stroke: var(--primary-color);
}

body.menu-expanded #navigation .logo path,
#navigation.scroll .logo path{
  fill: #fff;
}

#navigation.scroll button.open-menu path[stroke*="#00856F"]{
  stroke: #fff;
}


/* === NAVIGATION ===============================================*/

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .embrulhar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--primary-color);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}
/* === MENU-EXPANDED ==============================================*/
body.menu-expanded {
  /*Estamos dizendo para o menu não ter bordas de rolagem, e então ele ficará fixo*/
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  /*Exemplificando o comando, faz que a visibilidade de todos os itens (MENOS O NAV) deve sumir/desaparecer*/
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden; /*Com a visibilidade escondida, o menu não fica mais clicável*/
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(
    100%
  ); /*Command para jogar o Menu todo para baixo (para fora da tela).*/
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 300ms; /*O tempo que o menu leva para aparecer novamente ao usuário */
  transform: translateY(
    0
  ); /*Quando o usuário clicar no menu-expanded ele vai transformar o menu em 0, fazendo com que ele volte aparecer*/
}

body.menu-expanded nav {
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}

.menu .button {
  background: #ffffff;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-color);

  display: inline-block;
  padding: 16px 32px;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.menu .button:hover{
  background-color: var(--primary-color);
  color: #fff;

  filter: brightness(1.3);
  transition: 0.7s;
}



body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: white;
}

body.menu-expanded button path {
  stroke: white;
}
/* === HOME =====================================================*/

#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: '';
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--brand-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home h4 {
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);

  margin-bottom: 3.2rem;
}

#home .button {
  margin-inline: auto;
}

#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
}

#home .stats {
  width: 32.7rem;
  padding-block: 4rem; /* a mesma coisa que: padding-top: 4rem; padding-bottom: 4rem;*/
  margin-inline: auto; /*Em vez de ursamos o margin-left e margin-right usamos o margin-inline*/

  background-color: var(--brand-beige);
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column; /*Flex-direction nos possibilida mudarmos a posição das caixas (divs ou demais) para colunas ou outras posições */
  justify-content: center;
  gap: 6rem;
}

#home .stats h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 0.4rem;
}
#home .stats p {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 150%;
}
/* === SERVICES ==============================================*/
#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services header h2 {
  margin-bottom: 6rem;
}

#services header p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--paragraph);
}

#services .card {
  padding: 2.4rem;
  text-align: left;

  background: #ffffff;

  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;
}

#services .card h3 {
  margin-block: 1.6rem;
}



/* === ABOUT ==============================================*/
#about {
  text-align: left;
  background-color: var(--brand-beige);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

/* === CONTACT ==============================================*/

#contact {
  text-align: left;
}

#contact header {
  margin-bottom: 3.2rem;
}

#contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  margin-bottom: 3.2rem;
}

#contact ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* === FOOTER  ==============================================*/

/*Display inline não aceita margin-top e margin-bottom
Não aceita Width/Height, assim eu tenho que fazer a transformação para - display: inline-block; */

footer {
  background-color: var(--primary-color);
  padding-block: 6rem;

  text-align: left;

  color: white;
}

footer .logo{
  display: inline-block;
  margin-bottom: 2.4rem;
}

footer .logo svg{
  width: 23.6rem;
  height: 3.1rem;
}

footer .logo path{
  fill: white;
}

footer p {
  color: var(--brand-beige);
  line-height: 2;

  margin-bottom: 3.2rem;
}

footer .social-links {
  justify-content: flex-start; /*Aqui estamos botando o social-links para ficar no começo início da janela*/
  
}

/* === BACK TO TOP  ==============================================*/

#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 300ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

